<IfModule mod_rewrite.c>
    RewriteEngine On

    # Arahkan semua request ke folder public/
    RewriteRule ^$ public/index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Blokir akses langsung ke file sensitif
<Files ".env">
    Order allow,deny
    Deny from all
</Files>
<Files "composer.json">
    Order allow,deny
    Deny from all
</Files>
<Files "composer.lock">
    Order allow,deny
    Deny from all
</Files>
<Files "artisan">
    Order allow,deny
    Deny from all
</Files>